{% extends "global/BaseHotMarkup.html" %}
{% load staticfiles otree_tags %}
{% load multiply %}


{% block title %}
    Period {{period_num}} - Round {{round}}
{% endblock %}



{% block content %}
<!--  of {{num_rounds}} -->

<style type="text/css">
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-top{text-align:left}
.tg .tg-0ord{text-align:right}
.tg .tg-lqy6{text-align:right;vertical-align:top}
.tg .tg-031e{text-align:center}
.tg .tg-031r{text-align:center}
</style>
<table class="tg">
  <tr>
    <th class="tg-top" colspan="5" width="500px"><h2>Round timer: <font color="red"><div style="display: inline" id="countdown"></div></font></th>
    <th class="tg-lqy6" colspan="5" width="500px"><h2 >Period score: {{cumulative_round_payoff|floatformat:"3"}}</th>
  </tr>
</table>




<table class="tg">

  <tr>
    <td class="tg-031e" colspan="1" width="100px">
        <input type="range" orient="vertical" name="price" step="0.01" min="0" max="1" 
        id="id_price" value={{ my_prev_price }} class="form-control" 
        oninput="sliderChange(this.value)" >
    </td>


    <td class="tg-031e" colspan="9" width="900px">
    <div id="container2">
         <body onload="draw();">
           <canvas class="canvas" id="canvas" width="800px" height="400px"></canvas>
         </body>
    </div>
    </td>

  </tr>



  <tr>
    <td class="tg-031r" colspan="1" width="100px">
        <h2><span name="price_text" id="id_price_text">{{ my_prev_price|floatformat:"3" }}</span>  </h2>
    </td>
    <td class="tg-031e" colspan="9" width="900px">
    </td>
  </tr>

</table>




      

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border:none;margin:0px auto;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg .tg-yw4l{vertical-align:top;text-align:center;;padding:10px;}
.tg .tg-label{vertical-align:top;text-align:right;;padding:10px;}
.tg .tg-curPlayer{vertical-align:top;padding:10px;background-color:#9aff99;text-align:center;}
</style>


{% if debug %}

In Debug Mode Only:

<table class="tg ">
  <tr>
    <td class="tg-label" colspan="1" width="400px">

        <h3>Player</h3>

        <p>Price:</p></p>

        <p>Location:     </p>     

        <p>Market boundry</p>

        <p>Market share</p>

        <p>Profit</p>

        <p>Intersection P1</p>
        <p>Intersection P2</p>
        <p>Intersection P3</p>
        <p>Intersection P4</p>

    </td>

    {% if id_in_group == 1 %}
    <td class="tg-curPlayer" colspan="1" width="200px">
    {% else %}
    <td class="tg-yw4l" colspan="1" width="200px">
    {% endif %}
        <h3>{{ prev_market_table.0.player_num }}</h3></h3>

        <p><span name="price_text1" id="id_price_text1">...</span></p>  

        <p>{{  prev_market_table.0.loc|floatformat:"3" }} </p>    

        <p><span name="market_boundary_1" id="id_market_boundary_1">...</span></p>

        <p><span name="market_share_1" id="id_market_share_1">...</span></p>

        <p><span name="profit1" id="id_profit_1">...</span></p>

        <p>...</p> 
        <p><span name="price_text1" id="intersection_1_2">...</span></p> 
        <p><span name="price_text1" id="intersection_1_3">...</span></p> 
        <p><span name="price_text1" id="intersection_1_4">...</span></p> 
    </td>


    {% if id_in_group == 2 %}
    <td class="tg-curPlayer" colspan="1" width="200px">
    {% else %}
    <td class="tg-yw4l" colspan="1" width="200px">
    {% endif %}
        <h3>{{ prev_market_table.1.player_num }}</h3></h3>

        <p><span name="price_text2" id="id_price_text2">...</span></p>  

        <p>{{  prev_market_table.1.loc|floatformat:"3" }} </p>    

        <p><span name="market_boundary_2" id="id_market_boundary_2">...</span></p>

        <p><span name="market_share_2" id="id_market_share_2">...</span></p>

        <p><span name="profit2" id="id_profit_2">...</span></p>

        <p><span name="price_text1" id="intersection_1_2_2nd">...</span></p> 
        <p>...</p> 
        <p><span name="price_text1" id="intersection_2_3">...</span></p> 
        <p><span name="price_text1" id="intersection_2_4_2nd">...</span></p> 
    </td>







    {% if id_in_group == 3 %}
    <td class="tg-curPlayer" colspan="1" width="200px">
    {% else %}
    <td class="tg-yw4l" colspan="1" width="200px">
    {% endif %}
        <h3>{{ prev_market_table.2.player_num }}</h3></h3>

        <p><span name="price_text3" id="id_price_text3">...</span></p>  

        <p>{{  prev_market_table.2.loc|floatformat:"3" }} </p>    

       <p><span name="market_boundary_3" id="id_market_boundary_3">...</span></p>

        <p><span name="market_share_3" id="id_market_share_3">...</span></p>

        <p><span name="profit3" id="id_profit_3">...</span></p>

        <p><span name="price_text1" id="intersection_1_3_2nd">...</span></p> 
        <p><span name="price_text1" id="intersection_2_3_2nd">...</span></p> 
        <p>...</p> 
        <p><span name="price_text1" id="intersection_3_4_2nd">...</span></p> 

    </td>


  



    {% if id_in_group == 4 %}
    <td class="tg-curPlayer" colspan="1" width="200px">
    {% else %}
    <td class="tg-yw4l" colspan="1" width="200px">
    {% endif %}
        <h3>{{ prev_market_table.3.player_num }}</h3>

        <p><span name="price_text4" id="id_price_text4">...</span></p>  

        <p>{{  prev_market_table.3.loc|floatformat:"3" }} </p>    

        <p><span name="market_boundary_4" id="id_market_boundary_4">...</span></p>

        <p><span name="market_share_4" id="id_market_share_4">...</span></p>

        <p><span name="profit4" id="id_profit_4">...</span></p>

        <p><span name="price_text2" id="intersection_1_4_2nd">...</span></p> 
        <p><span name="price_text1" id="intersection_2_4">...</span></p> 
        <p><span name="price_text1" id="intersection_3_4">...</span></p> 
        <p>...</p>

    </td>



  </tr>
</table>  





<!-- 


<hr>
<table class="tg ">
  <tr>
    <td class="tg-label" colspan="1" width="28%">

        <h3>Player</h3>

        <h3>Price:</h3></h3>

        <h3>Location:     </h3>     

        <h3>Market boundry</h3>

        <h3>Market share</h3>

        <h3>Profit</h3>
    </td>

{% for PLAYer in prev_market_table %}

{% if PLAYer.player_num == ID_in_group %}

    <td class="tg-curPlayer" colspan="1" width="18%">
        <h3>{{ PLAYer.player_num }}</h3></h3>

        <h3><span name="price_text" id="id_price_text2">{{ my_prev_price|floatformat:"3" }}</span></h3>  

        <h3>{{ PLAYer.loc|floatformat:"3" }}      </h3>    

        <h3>...</h3>

        <h3>...</h3>

        <h3>...</h3>
    </td>

{% else %}

    <td class="tg-yw4l" colspan="1" width="18%">
        <h3>{{ PLAYer.player_num }}</h3> 

        <h3>{{ PLAYer.price|floatformat:"2" }}      </h3>  

        <h3>{{ PLAYer.loc|floatformat:"3" }}      </h3>    

        <h3>...</h3>

        <h3>...</h3>

        <h3>...</h3>


    </td>

{% endif %}

{% endfor %}

  </tr>
  <tr>
    <td class="tg-yw4l" colspan="2"></td>
    <td class="tg-yw4l" colspan="2"></td>
  </tr>
</table>  
 -->
    {% endif %}





<input class="btn btn-primary btn-large btn-primary next-button" type="submit" value="Next"  style=" visibility:hidden;">





<!-- Countdown timer -->
<script>
    function countdown( elementName, minutes, seconds )
    {
        var element, endTime, hours, mins, msLeft, time;

        function twoDigits( n )
        {
            return (n <= 9 ? "0" + n : n);
        }

        function updateTimer()
        {
            msLeft = endTime - (+new Date);
            if ( msLeft < 1000 ) {
                element.innerHTML = "0";
            } else {
                time = new Date( msLeft );
                hours = time.getUTCHours();
                mins = time.getUTCMinutes();
                element.innerHTML = (hours ? hours + ':' + twoDigits( mins ) : mins) + ':' + twoDigits( time.getUTCSeconds() );
                setTimeout( updateTimer, time.getUTCMilliseconds() + 500 );
            }
        }

        element = document.getElementById( elementName );
        endTime = (+new Date) + 1000 * (60*minutes + seconds) + 500;
        updateTimer();
    }

    countdown( "countdown", 0, {{subperiod_timer}});
    countdown( "countdown2", 100, 0 );
 </script>


<!-- auto click "next" button -->
<script>
    var mybtn = document.querySelectorAll('.btn');
    var i = 0;

    var timer = setInterval(function() {
         if( i < mybtn.length) {
             mybtn[i].click();
             console.log("Click handler for button " + i + " fired");
         } else {
             clearInterval(timer);
         }
         i = i + 1;
    }, ({{subperiod_timer}} * 1000));
</script>

<script>

// slider event triggerer
// trigger updates to canvas image
function sliderChange(val){
    var my_p = {{ my_prev_price}};
    if (val != undefined) {
        my_p = (Number(val)).toFixed(3);
    }     
    sliderChange_2(my_p);
    draw(my_p);
    return my_p;
}

// slider triggers -> update table elements
function sliderChange_2(val) {
    
    var my_p = (Number(val)).toFixed(3);
    // var p1_p = market_data.price[0];
    // var my_l = (Number({{my_loc}})).toFixed(2);
    // var other_p = {{other_prev_price}};
    // var other_l = {{other_loc}};
    // var t = 1;
    // var intersection = (Number(val));
    // var market_share = "";

  

}

function drawBall( price, loc, ht, wdt, mrg ) {

    var ctx = canvas.getContext('2d');
    var x = (mrg + ((wdt-2*mrg)) * loc); // y coord for p1
    var y = mrg + (ht-2*mrg) * (1 - price); // x coord for p1

    ctx.strokeStyle = "#424242";
    ctx.setLineDash([0,0]); 
    ctx.beginPath();
    ctx.moveTo((x + 5), y);
    ctx.arc(x, y, 5,0,Math.PI*2,true);  // eye
    ctx.stroke();
    
}

function drawFullBall( price, loc, ht, wdt, mrg ) {

    var ctx = canvas.getContext('2d');
    var x = (mrg + ((wdt-2*mrg)) * loc); // y coord for p1
    var y = mrg + (ht-2*mrg) * (1 - price); // x coord for p1

    ctx.strokeStyle = "#FFFFFF";
    ctx.setLineDash([0,0]); 
    ctx.beginPath();
    ctx.moveTo((x + 7), y);
    ctx.arc(x, y, 7,0,Math.PI*2,true);  // eye
    ctx.fillStyle = 'blue';
    ctx.fill();
    ctx.stroke();
    
}

function drawAction(price, loc, ht, wdt, mrg, t) {

    var ctx = canvas.getContext('2d');
    var x = (mrg + ((wdt-2*mrg)) * loc); // y coord for p1
    var y = mrg + (ht-2*mrg) * (1 - price); // x coord for p1


    // // draw transport cost lines
    // // p1 trans cost, to the left
    ctx.strokeStyle = "#dddddd"; 
    ctx.setLineDash([15,10]); // no dashed lines
    ctx.beginPath();
    ctx.moveTo(x, y);
    ctx.lineTo(wdt-mrg, y-(t * (1 - loc) * (ht-2*mrg)));
    ctx.moveTo((x), y);
    ctx.lineTo(mrg, y - t * (loc) * (ht-2*mrg));
    ctx.stroke();

}
function drawFullAction(price, loc, ht, wdt, mrg, t) {

    var ctx = canvas.getContext('2d');
    var x = (mrg + ((wdt-2*mrg)) * loc); // y coord for p1
    var y = mrg + (ht-2*mrg) * (1 - price); // x coord for p1


    // // draw transport cost lines
    // // p1 trans cost, to the left
    ctx.strokeStyle = "#b5b5b5"; 
    ctx.setLineDash([0,0]); // no dashed lines
    ctx.beginPath();
    ctx.moveTo(x, y);
    ctx.lineTo(wdt-mrg, y-(t * (1 - loc) * (ht-2*mrg)));
    ctx.moveTo((x), y);
    ctx.lineTo(mrg, y - t * (loc) * (ht-2*mrg));
    ctx.stroke();

}


function drawBoundry(loc,wdt,ht,mrg){
    var ctx = canvas.getContext('2d');
    var boundary = (mrg + ((wdt-2*mrg)) * loc); // y coord for p1
    // // boundary/intersection line
    ctx.strokeStyle = "#b5b5b5"; 
    ctx.setLineDash([10, 5]);//dashed lines 
    ctx.beginPath();   
    ctx.moveTo(boundary, mrg);
    ctx.lineTo(boundary, mrg+ht);
    ctx.stroke();
}



function drawBox(price, loc_lo, loc_hi, ht, wdt, mrg ){

    var ctx = canvas.getContext('2d');
    var x_lo = (mrg + ((wdt-2*mrg)) * loc_lo); // y coord for p1
    var x_hi = (wdt-2*mrg) * (loc_hi - loc_lo); // y coord for p1
    var y = mrg + (ht-2*mrg) * (1 - price); // x coord for p1
 
    // // draw profit area 
    // // see payoff cal section
    ctx.fillStyle = "rgba(184, 185, 186,0.25)";
    ctx.fillRect(
        x_lo,
        y, 
        x_hi,
        price * (wdt-2*mrg));    
    
}

function drawFullBox(price, loc_lo, loc_hi, ht, wdt, mrg ){

    var ctx = canvas.getContext('2d');
    var x_lo = (mrg + ((wdt-2*mrg)) * loc_lo); // y coord for p1
    var x_hi = (wdt-2*mrg) * (loc_hi - loc_lo); // y coord for p1
    var y = mrg + (ht-2*mrg) * (1 - price); // x coord for p1
 
    // // draw profit area 
    // // see payoff cal section
    ctx.fillStyle = "rgba(165, 192, 255,0.25)";
    ctx.fillRect(
        x_lo,
        y, 
        x_hi,
        price * (ht-2*mrg));    
    
}

function draw(my_p_) {
    //seperate this into static and dynamic components. 
  var canvas = document.getElementById('canvas');
  if (canvas.getContext){

    // // setup variables
    var my_p = {{ my_prev_price}}.toFixed(2);
    if (my_p_ != undefined) {
        my_p = Number(my_p_).toFixed(2);
    }

    var players = [
        {
            'id':0,
            'loc':0,
            'price':0,
            'intersection':0,
            "boundary":0,
            "boundary_lo":0,
            "boundary_hi":0,
            "market_share":"",
            'profit':0,
            'in_market':true,
        },
        {
            'id':0,
            'loc':0,
            'price':0,
            'intersection':0,
            "boundary":0,
            "boundary_lo":0,
            "boundary_hi":0,
            "market_share":"",
            'profit':0,
            'in_market':true,
        },
        {
            'id':0,
            'loc':0,
            'price':0,
            'intersection':0,
            "boundary":0,
            "boundary_lo":0,
            "boundary_hi":0,
            "market_share":"",
            'profit':0,
            'in_market':true,
        },
        {
            'id':0,
            'loc':0,
            'price':0,
            'intersection':0,
            "boundary":0,
            "boundary_lo":0,
            "boundary_hi":0,
            "market_share":"",
            'profit':0,
            'in_market':true,
        },
    ];


    players[0].id = Number({{prev_market_table.0.player_num}}).toFixed(0);
    players[0].loc = Number({{prev_market_table.0.loc}}).toFixed(2);
    players[0].price = Number({{prev_market_table.0.price}}).toFixed(2);
    players[1].id = Number({{prev_market_table.1.player_num}}).toFixed(0);
    players[1].loc = Number({{prev_market_table.1.loc}}).toFixed(2);
    players[1].price = Number({{prev_market_table.1.price}}).toFixed(2);
    players[2].id = Number({{prev_market_table.2.player_num}}).toFixed(0);
    players[2].loc = Number({{prev_market_table.2.loc}}).toFixed(2);
    players[2].price = Number({{prev_market_table.2.price}}).toFixed(2);
    players[3].id = Number({{prev_market_table.3.player_num}}).toFixed(0);
    players[3].loc = Number({{prev_market_table.3.loc}}).toFixed(2);
    players[3].price = Number({{prev_market_table.3.price}}).toFixed(2);


    players[{{id_in_group}}-1].price = my_p;
    // update html text stuff
   

    // payoff function calc
    var t = Number({{transport_cost}});

    //p1
    var intersection_1_2 = (t *Number(players[1].loc)+Number(players[1].price) + t * Number(players[0].loc) - Number(players[0].price)) / (2*t);
    var intersection_1_3 = (t *Number(players[2].loc)+Number(players[2].price) + t * Number(players[0].loc) - Number(players[0].price)) / (2*t);
    var intersection_1_4 = (t *Number(players[3].loc)+Number(players[3].price) + t * Number(players[0].loc) - Number(players[0].price)) / (2*t);

    if (intersection_1_2 < players[0].loc || intersection_1_3 < players[0].loc || intersection_1_4 < players[0].loc){
        players[0].profit = 0;
        players[0].boundry = 0; 
        players[0].market_share = "None";
        players[0].boundary_lo = 0; 
        players[0].boundary_hi = 0; 
        players[0].in_market = false; 
    } 

    //p4
    var intersection_1_4 = (t *Number(players[3].loc)+Number(players[3].price) + t * Number(players[0].loc) - Number(players[0].price)) / (2*t);
    var intersection_2_4 = (t *Number(players[3].loc)+Number(players[3].price) + t * Number(players[1].loc) - Number(players[1].price)) / (2*t);
    var intersection_3_4 = (t *Number(players[3].loc)+Number(players[3].price) + t * Number(players[2].loc) - Number(players[2].price)) / (2*t);

    if (intersection_3_4 > players[3].loc || intersection_2_4 > players[3].loc || intersection_1_4 > players[3].loc){
        players[3].profit = 0;
        players[3].boundry = 0; 
        players[3].market_share = "None";
        players[3].boundary_lo = 0; 
        players[3].boundary_hi = 0; 
        players[3].in_market = false; 
    }

    //p2
    var intersection_1_2 = (t *Number(players[1].loc)+Number(players[1].price) + t * Number(players[0].loc) - Number(players[0].price)) / (2*t);
    var intersection_2_3 = (t *Number(players[2].loc)+Number(players[2].price) + t * Number(players[1].loc) - Number(players[1].price)) / (2*t);
    var intersection_2_4 = (t *Number(players[3].loc)+Number(players[3].price) + t * Number(players[1].loc) - Number(players[1].price)) / (2*t);

    if (intersection_1_2 > players[1].loc || intersection_2_3 < players[1].loc || intersection_2_4 < players[1].loc){
        players[1].profit = 0;
        players[1].boundry = 0; 
        players[1].market_share = "None";
        players[1].boundary_lo = 0; 
        players[1].boundary_hi = 0; 
        players[1].in_market = false; 
    }

    //p3
    var intersection_1_3 = (t *Number(players[2].loc)+Number(players[2].price) + t * Number(players[0].loc) - Number(players[0].price)) / (2*t);
    var intersection_2_3 = (t *Number(players[2].loc)+Number(players[2].price) + t * Number(players[1].loc) - Number(players[1].price)) / (2*t);
    var intersection_3_4 = (t *Number(players[3].loc)+Number(players[3].price) + t * Number(players[2].loc) - Number(players[2].price)) / (2*t);

    if (intersection_1_3 > players[2].loc || intersection_2_3 > players[2].loc || intersection_3_4 < players[2].loc){
        players[2].profit = 0;
        players[2].boundry = 0; 
        players[2].market_share = "None";
        players[2].boundary_lo = 0; 
        players[2].boundary_hi = 0; 
        players[2].in_market = false; 
    }



    //p1
    if (intersection_1_2 < players[0].loc || intersection_1_3 < players[0].loc || intersection_1_4 < players[0].loc){
        players[0].profit = 0;
        players[0].boundry = 0; 
        players[0].market_share = "None";
        players[0].boundary_lo = 0; 
        players[0].boundary_hi = 0; 
    } else if (intersection_1_2 > players[1].loc) {
        if (intersection_1_3 > players[2].loc) {
            if (intersection_1_4 > players[3].loc) { //prices below all else
                players[0].profit = 1 * players[0].price;
                players[0].boundry = 1; 
                players[0].market_share = "0 to 1"; 
                players[0].boundary_lo = 0; 
                players[0].boundary_hi = 1; 
            } else {
                players[0].profit = players[0].price * intersection_1_4;
                players[0].boundry = intersection_1_4; 
                players[0].market_share = "0 to " + players[0].boundry.toFixed(3);
                players[0].boundary_lo = 0; 
                players[0].boundary_hi = intersection_1_4; 
            }
        } else if (intersection_1_4 < intersection_1_3) { // if p4 priced out p3!
            players[0].profit = players[0].price * intersection_1_4;
            players[0].boundry = intersection_1_4; 
            players[0].market_share = "0 to " + players[0].boundry.toFixed(3);
            players[0].boundary_lo = 0; 
            players[0].boundary_hi = intersection_1_4; 
        } else {
            players[0].profit = players[0].price * intersection_1_3;
            players[0].boundry = intersection_1_3; 
            players[0].market_share = "0 to " + players[0].boundry.toFixed(3);
            players[0].boundary_lo = 0; 
            players[0].boundary_hi = intersection_1_3; 
        }
    } else if (intersection_1_4 < intersection_1_3 && intersection_1_4 < intersection_1_2){
            players[0].profit = players[0].price * intersection_1_4;
            players[0].boundry = intersection_1_4; 
            players[0].market_share = "0 to " + players[0].boundry.toFixed(3);
            players[0].boundary_lo = 0; 
            players[0].boundary_hi = intersection_1_4; 
    } else if (intersection_1_3 < intersection_1_2) {
            players[0].profit = players[0].price * intersection_1_3;
            players[0].boundry = intersection_1_3; 
            players[0].market_share = "0 to " + players[0].boundry.toFixed(3);
            players[0].boundary_lo = 0; 
            players[0].boundary_hi = intersection_1_3; 
    } else {
        players[0].profit = players[0].price * intersection_1_2;
        players[0].boundry = intersection_1_2; 
        players[0].market_share = "0 to " + players[0].boundry.toFixed(3);
        players[0].boundary_lo = 0; 
        players[0].boundary_hi = intersection_1_2; 
    }



    

    //p4
    if (intersection_3_4 > players[3].loc || intersection_2_4 > players[3].loc || intersection_1_4 > players[3].loc){
        players[3].profit = 0;
        players[3].boundry = 0; 
        players[3].market_share = "None";
        players[3].boundary_lo = 0; 
        players[3].boundary_hi = 0; 
    } else if (intersection_3_4 < players[2].loc) {
        if (intersection_2_4 < players[1].loc) {
            if (intersection_1_4 < players[0].loc) { //prices below all else
                players[3].profit = 1 * players[0].price;
                players[3].boundry = 1; 
                players[3].market_share = "0 to 1"; 
                players[3].boundary_lo = 0; 
                players[3].boundary_hi = 1; 
            } else {
                players[3].profit = players[3].price * (1 - intersection_1_4);
                players[3].boundry = intersection_1_4; 
                players[3].market_share = "" + intersection_1_4.toFixed(3) + " to 1";
                players[3].boundary_lo = intersection_1_4; 
                players[3].boundary_hi = 1; 
            }
        } else if (intersection_1_4 > intersection_2_4) { // if p4 priced out p3!
                players[3].profit = players[3].price * (1 - intersection_1_4);
                players[3].boundry = intersection_1_4; 
                players[3].market_share = "" + intersection_1_4.toFixed(3) + " to 1";
                players[3].boundary_lo = intersection_1_4; 
                players[3].boundary_hi = 1; 
        } else {
            players[3].profit = players[3].price * (1 - intersection_2_4);
            players[3].boundry = intersection_2_4; 
            players[3].market_share = "" + intersection_2_4.toFixed(3) + " to 1";
            players[3].boundary_lo = intersection_2_4; 
            players[3].boundary_hi = 1;
        }
    } else if (intersection_1_4 > intersection_2_4 && intersection_1_4 > intersection_3_4){
            players[3].profit = players[3].price * (1 - intersection_1_4);
            players[3].boundry = intersection_1_4; 
            players[3].market_share = "" + intersection_1_4.toFixed(3) + " to 1";
            players[3].boundary_lo = intersection_1_4; 
            players[3].boundary_hi = 1; 
    } else if (intersection_2_4 > intersection_3_4) {
            players[3].profit = players[3].price * (1 - intersection_2_4);
            players[3].boundry = intersection_2_4; 
            players[3].market_share = "" + intersection_2_4.toFixed(3) + " to 1";
            players[3].boundary_lo = intersection_2_4; 
            players[3].boundary_hi = 1; 
    } else {
        players[3].profit = players[3].price * (1 - intersection_3_4);
        players[3].boundry = intersection_3_4; 
        players[3].market_share = "" + intersection_3_4.toFixed(3) + " to 1";
        players[3].boundary_lo = intersection_3_4; 
        players[3].boundary_hi = 1; 
    }


  

    //p2
    var intersection_1_2 = (t *Number(players[1].loc)+Number(players[1].price) + t * Number(players[0].loc) - Number(players[0].price)) / (2*t);
    var intersection_2_3 = (t *Number(players[2].loc)+Number(players[2].price) + t * Number(players[1].loc) - Number(players[1].price)) / (2*t);
    var intersection_2_4 = (t *Number(players[3].loc)+Number(players[3].price) + t * Number(players[1].loc) - Number(players[1].price)) / (2*t);

    if (intersection_1_2 > players[1].loc || intersection_2_3 < players[1].loc || intersection_2_4 < players[1].loc){
        players[1].profit = 0;
        players[1].boundry = 0; 
        players[1].market_share = "None";
        players[1].boundary_lo = 0; 
        players[1].boundary_hi = 0; 
    } else {
        //p2 left side
        if (intersection_1_2 >= players[0].loc) {
            players[1].boundary_lo = intersection_1_2;
        } else if (intersection_1_2 < players[0].loc){
            players[1].boundary_lo = 0;
        }

        if (intersection_2_3 > players[2].loc){
            if (intersection_2_4 > players[3].loc){
                players[1].boundary_hi = 1;
            } else {
                players[1].boundary_hi = intersection_2_4;
            }
        } else if (intersection_2_4 < intersection_2_3){
            players[1].boundary_hi = intersection_2_4;
        } else {
            players[1].boundary_hi = intersection_2_3;
        }

        players[1].profit = (players[1].boundary_hi - players[1].boundary_lo) * players[1].price;
        players[1].boundry = 0; 
        players[1].market_share = "" + players[1].boundary_lo.toFixed(3) + " to " + players[1].boundary_hi.toFixed(3);
    }





    //p3
    var intersection_1_3 = (t *Number(players[2].loc)+Number(players[2].price) + t * Number(players[0].loc) - Number(players[0].price)) / (2*t);
    var intersection_2_3 = (t *Number(players[2].loc)+Number(players[2].price) + t * Number(players[1].loc) - Number(players[1].price)) / (2*t);
    var intersection_3_4 = (t *Number(players[3].loc)+Number(players[3].price) + t * Number(players[2].loc) - Number(players[2].price)) / (2*t);

    if (intersection_1_3 > players[2].loc || intersection_2_3 > players[2].loc || intersection_3_4 < players[2].loc){
        players[2].profit = 0;
        players[2].boundry = 0; 
        players[2].market_share = "None";
        players[2].boundary_lo = 0; 
        players[2].boundary_hi = 0; 
        players[2].in_market = false; 
    } else {
        //p3 left side
        if (intersection_2_3 < players[1].loc){
            if (intersection_1_3 < players[0].loc){
                players[2].boundary_lo = 0;
            } else {
                players[2].boundary_lo = intersection_1_3;
            }
        } else if (intersection_1_3 > intersection_2_3){
            players[2].boundary_lo = intersection_1_3;
        } else {
            players[2].boundary_lo = intersection_2_3;
        }

        // p3 right side
        if (intersection_3_4 <= players[3].loc) {
            players[2].boundary_hi = intersection_3_4;
        } else if (intersection_3_4 > players[3].loc){
            players[2].boundary_hi = 1;
        }

        players[2].profit = (players[2].boundary_hi - players[2].boundary_lo) * players[2].price;
        players[2].boundry = 0; 
        players[2].market_share = "" + players[2].boundary_lo.toFixed(3) + " to " + players[2].boundary_hi.toFixed(3);
    }



  

    var ctx = canvas.getContext('2d');

    var wdt = 800; //size of box
    var ht  = 400
    var mrg = 10;

    // background
    ctx.fillStyle = 'black';
    ctx.fillRect(0,0,wdt,ht);
    ctx.clearRect(mrg,mrg,(wdt-2*mrg),(ht-2*mrg));

  
    drawAction(players[0].price,players[0].loc,ht,wdt,mrg,t);  
    drawAction(players[1].price,players[1].loc,ht,wdt,mrg,t);  
    drawAction(players[2].price,players[2].loc,ht,wdt,mrg,t);  
    drawAction(players[3].price,players[3].loc,ht,wdt,mrg,t);

  ctx.strokeStyle = "#424242";
    drawBall(players[0].price,players[0].loc,ht,wdt,mrg);  
    drawBall(players[1].price,players[1].loc,ht,wdt,mrg);  
    drawBall(players[2].price,players[2].loc,ht,wdt,mrg);  
    drawBall(players[3].price,players[3].loc,ht,wdt,mrg);  
  

    //draw all players' profit boxes
    // drawBox(players[0].price, players[0].boundary_lo, players[0].boundary_hi, ht, wdt, mrg );
    // drawBox(players[1].price, players[1].boundary_lo, players[1].boundary_hi, ht, wdt, mrg );
    // drawBox(players[2].price, players[2].boundary_lo, players[2].boundary_hi, ht, wdt, mrg );
    // drawBox(players[3].price, players[3].boundary_lo, players[3].boundary_hi, ht, wdt, mrg );
   


    // emphasize current player's point of view
    drawBoundry(players[{{id_in_group}}-1].boundary_hi,wdt,ht,mrg);
    drawBoundry(players[{{id_in_group}}-1].boundary_lo,wdt,ht,mrg);
    drawFullBox(players[{{id_in_group}}-1].price, players[{{id_in_group}}-1].boundary_lo, players[{{id_in_group}}-1].boundary_hi, ht, wdt, mrg);
    drawFullAction(players[{{id_in_group}}-1].price,players[{{id_in_group}}-1].loc,ht,wdt,mrg,t);
    drawFullBall(players[{{id_in_group}}-1].price,players[{{id_in_group}}-1         ].loc,ht,wdt,mrg); 


    document.getElementById('id_price_text').innerHTML = (my_p * 100).toFixed(0);
    document.getElementById('id_price_text1').innerHTML = players[0].price;
    document.getElementById('id_price_text2').innerHTML = players[1].price;
    document.getElementById('id_price_text3').innerHTML = players[2].price;
    document.getElementById('id_price_text4').innerHTML = players[3].price;

    document.getElementById('intersection_1_2').innerHTML = intersection_1_2.toFixed(4);
    document.getElementById('intersection_1_3').innerHTML = intersection_1_3.toFixed(4);
    document.getElementById('intersection_1_4').innerHTML = intersection_1_4.toFixed(4);

    document.getElementById('id_market_boundary_1').innerHTML = players[0].boundry.toFixed(4);
    document.getElementById('id_market_share_1').innerHTML = players[0].market_share;
    document.getElementById('id_profit_1').innerHTML = players[0].profit.toFixed(4);



    document.getElementById('intersection_1_2_2nd').innerHTML = intersection_1_2.toFixed(4);
    document.getElementById('intersection_2_3').innerHTML = intersection_2_3.toFixed(4);
    document.getElementById('intersection_2_4_2nd').innerHTML = intersection_2_4.toFixed(4);

    document.getElementById('id_market_boundary_2').innerHTML = players[1].boundry.toFixed(4);
    document.getElementById('id_market_share_2').innerHTML = players[1].market_share;
    document.getElementById('id_profit_2').innerHTML = players[1].profit.toFixed(4);

    document.getElementById('intersection_1_3_2nd').innerHTML = intersection_1_3.toFixed(4);
    document.getElementById('intersection_2_3_2nd').innerHTML = intersection_2_3.toFixed(4);
    document.getElementById('intersection_3_4_2nd').innerHTML = intersection_3_4.toFixed(4);

    document.getElementById('id_market_boundary_3').innerHTML = players[2].boundry.toFixed(4);
    document.getElementById('id_market_share_3').innerHTML = players[2].market_share;
    document.getElementById('id_profit_3').innerHTML = players[2].profit.toFixed(4);



    document.getElementById('intersection_1_4_2nd').innerHTML = intersection_1_4.toFixed(4);
    document.getElementById('intersection_2_4').innerHTML = intersection_2_4.toFixed(4);
    document.getElementById('intersection_3_4').innerHTML = intersection_3_4.toFixed(4);

    document.getElementById('id_market_boundary_4').innerHTML = players[3].boundry.toFixed(4);
    document.getElementById('id_market_share_4').innerHTML = players[3].market_share;
    document.getElementById('id_profit_4').innerHTML = players[3].profit.toFixed(4);



  }

}






</script>


{% endblock %}
