{% extends "global/BaseMotherhood.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}

{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h2 class="panel-sub-heading">
        
    </h2>

    <link rel="stylesheet" type="text/css"
          href="{% static 'global/matrix.css' %}"/>



    <p>
      You are now taking part in an experiment.  You will receive a transport and subsistence allowance which will depend on decisions made in the experiment, with a minimum allowance of 30 AED.
      It is therefore important that you read the instructions carefully as they explain how your decisions will affect the allowance you receive at the end of today's session. 
    </p>
    <p>
          You cannot use any electronic devices or communicate with others throughout the experiment. Violation of this rule will disqualify you from payment.
    </p>
    <p>
      As you complete parts of the experiment you will receive a score expressed in “points”. <b>1 point is equivalent to 2 AED</b>. Your allowance will be paid in Dirhams (AED) in private at the end of the session. No one will be informed about your decisions in the experiment.
    </p>

    {% if charityinfo %}
        <p>
      <br>
      <b>After the experiment, you will have the possibility of donating a percentage of your allowance to a charity.</b>
      <br><br>
    </p>
    {% endif %}

    <p>
      In the experiment you will be asked to complete three different tasks. No task will take more than 3 minutes. At the end of the experiment one of the tasks will be randomly selected, and you will be paid based on your performance in that task.
    </p>

    <p>
      Before each task you will receive specific instructions. These instructions will explain how you make decisions, and how your decisions and the decisions of other participants influence your allowance. 
    </p>
    <p>
      <br>
      Before the experiment is over, you will be asked to fill out a questionnaire.
    </p>


    <p>
      <br>
    </p>
<!--     <p>
      Click next if you are ready to move on.
      <br>
      <br>
    </p> -->



    
</div>

    {% if debug %}
      In debug mode only, 
      {% next_button %}<br><br><br>
    {% endif %}

{% endblock %}
