{% extends "global/BaseHotMarkup.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Final Screen
{% endblock %}

{% block content %}

{% load otree_tags staticfiles %}

<div class="panel panel-success">
    <div class="panel-heading">
        <h3>Thank you for participating.</h3>
        <h3>Please wait until further instructions from the experimenter.</h3>
    </div>
</div>


<div class="panel panel-success">
    <div class="panel-heading">
            <h4>Period {{ paid_period }} was randomly selected as your paid period. 
            <h4>You earned a score of <b>{{ var_pay|floatformat:"2" }}</b>.
            <h4>With your ${{participation_fee}} showup fee, you have earned a total of ${{total_pay|floatformat:"2"}}.
    </div>

    <table class="table">           
        <tr>
            <th><center>Period Number</th>
            <th><center>Score</th>
            <th><center>Paid Period</th>
        </tr>
        {% for row in exp_log %}
        <tr>
            <td><center>{{ row.period_num }}</td>
            <td><center>{{ row.period_score |floatformat:"2"}}</center></td>
            <td><center>{% if paid_period == row.period_num %} Paid {% else %} Not Paid {% endif %}</th>

        </tr>
        {% endfor %}

    </table>

</div>

    {% if debug %}
      In debug mode only, 
      {% next_button %}<br><br><br>
    {% endif %}
{% endblock %}

