{% extends "global/BaseHotMarkup.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Please wait
{% endblock %}

{% block content %}

{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h2 class="panel-sub-heading">
        
    </h2>

    <link rel="stylesheet" type="text/css"
          href="{% static 'global/matrix.css' %}"/>


    <h3>
    Please wait, the period will start shortly. 
    </h2>
    
    <p>
        <br>
    </p> 

</div>

        <h4 align="right" ><font color="f7f7f7">
            t:{{treatment_t}} - 
            paid:{{paid_period}} - 
            my_loc:{{my_loc}} - 
            p1_l:{{p1_loc}} -  
            p2_l:{{p2_loc}} -  
            p3_l:{{p3_loc}} -  
            p4_l:{{p4_loc}}</font>
         </h4>

{% if debug %}
debug mode only 
    {% next_button %}
{% endif %}


{% endblock %}
