{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Please review carefully.
{% endblock %}

{% block content %}

    <p>
        
    </p>

   <iframe id="ytplayer" type="text/html" width="900" height="506" 
   src="http://www.youtube.com/embed/tntOCGkgt98?autoplay=1&rel=0&controls=0&showinfo=0&loop=1&hd=1&modestbranding=1&enablejsapi=1&playerapiid=ytplayer"
 		frameborder="0" allowfullscreen></iframe>


    {% next_button %}

{% endblock %}

{% block content_at_bottom_of_body %}

{% endblock %}
