

{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block title %}
    Please answer the following questions.
{% endblock %}

{% block content %}

    <p>
        
    </p>

    <div class="table-responsive">
<!--        <h4>
        VS = {% trans "Very Strong" %};  
        S = {% trans "Strong" %}; 
        M = {% trans "Moderate" %}; 
        W = {% trans "Weak" %}; 
        NAL = {% trans "Not At All" %}
        </h4> -->
             <table class="table table-striped">
                {% for field in form %}
                <tr><td width="40%" style="vertical-align:middle"><h4>{{ field.label }}</h4></td><td style="vertical-align:middle" align="right">{{field}}</td></tr>
                {% endfor %}
             </table>
         </div>
     </br>
 
    {% next_button %}

{% endblock %}